@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@plugin 'tailwindcss-animate';
@plugin 'tailwind-scrollbar';
@plugin 'tailwindcss-safe-area';
@plugin '@tailwindcss/typography';

@theme {
	--text-*: initial;
	--text-xs: 0.75rem;
	--text-xs--line-height: 1rem;
	--text-2xs: 0.625rem;
	--text-2xs--line-height: 1rem;
	--text-3xs: 0.5rem;
	--text-3xs--line-height: 1rem;
	--text-4xs: 0.375rem;
	--text-4xs--line-height: 1rem;
	--text-5xs: 0.25rem;
	--text-5xs--line-height: 1rem;
	--text-sm: 0.875rem;
	--text-sm--line-height: 1.5rem;
	--text-base: 1rem;
	--text-base--line-height: 1.5rem;
	--text-lg: 1.125rem;
	--text-lg--line-height: 2rem;
	--text-xl: 1.25rem;
	--text-xl--line-height: 1.75rem;
	--text-2xl: 1.5rem;
	--text-2xl--line-height: 2rem;
	--text-3xl: 2rem;
	--text-3xl--line-height: 3rem;
	--text-4xl: 2.5rem;
	--text-4xl--line-height: 3rem;
	--text-5xl: 3rem;
	--text-5xl--line-height: 1;
	--text-6xl: 3.75rem;
	--text-6xl--line-height: 1;
	--text-7xl: 4.5rem;
	--text-7xl--line-height: 1;
	--text-8xl: 6rem;
	--text-8xl--line-height: 1;
	--text-9xl: 8rem;
	--text-9xl--line-height: 1;

	--container-2xl: 40rem;

	--radius-4xl: 2rem;
	--radius-5xl: 2.5rem;

	--color-gray-50: oklch(98.4% 0.003 247.858);
	--color-gray-100: oklch(96.8% 0.007 247.896);
	--color-gray-200: oklch(92.9% 0.013 255.508);
	--color-gray-300: oklch(86.9% 0.022 252.894);
	--color-gray-400: oklch(70.4% 0.04 256.788);
	--color-gray-500: oklch(55.4% 0.046 257.417);
	--color-gray-600: oklch(44.6% 0.043 257.281);
	--color-gray-700: oklch(37.2% 0.044 257.287);
	--color-gray-800: oklch(27.9% 0.041 260.031);
	--color-gray-900: oklch(20.8% 0.042 265.755);
	--color-gray-950: oklch(12.9% 0.042 264.695);

	--color-primary: #209ce9;
	--color-nano: #209ce9;
	--color-nano-light: #d2ebfa;
	--color-nano-dark: #4a90e2;
	--color-muted: #f8fafc;
	--color-error: #ff4d4f;

	--animate-fade-in: fade-in 0.5s linear forwards;
	--animate-marquee: marquee var(--marquee-duration) linear infinite;
	--animate-spin-slow: spin 4s linear infinite;
	--animate-spin-slower: spin 6s linear infinite;
	--animate-spin-reverse: spin-reverse 1s linear infinite;
	--animate-spin-reverse-slow: spin-reverse 4s linear infinite;
	--animate-spin-reverse-slower: spin-reverse 6s linear infinite;
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes marquee {
		100% {
			transform: translateY(-50%);
		}
	}
	@keyframes spin-reverse {
		to {
			transform: rotate(-360deg);
		}
	}
	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

body {
	@apply bg-slate-50;
}

.Button:disabled {
	@apply bg-slate-200 text-slate-400;
}

.PayButton {
	@apply text-xs leading-5;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spinBack {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
}

@keyframes spinBack {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
}

/* Check SVG */
#check-group {
	animation: 0.32s ease-in-out 1.03s check-group;
	transform-origin: center;
}

#check-group #check {
	animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
	stroke-dasharray: 0, 75px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#check-group #outline {
	animation: 0.38s ease-in outline;
	transform: rotate(0deg);
	transform-origin: center;
}

#check-group #white-circle {
	animation: 0.35s ease-in 0.35s forwards circle;
	transform: none;
	transform-origin: center;
}

@keyframes outline {
	from {
		stroke-dasharray: 0, 345.576px;
	}
	to {
		stroke-dasharray: 345.576px, 345.576px;
	}
}
@keyframes circle {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
@keyframes check {
	from {
		stroke-dasharray: 0, 75px;
	}
	to {
		stroke-dasharray: 75px, 75px;
	}
}
@keyframes check-group {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.09);
	}
	to {
		transform: scale(1);
	}
}

/* X SVG */
#x-group {
	animation: 0.32s ease-in-out 1.03s x-group;
	transform-origin: center;
}

#x-group #x-line-1 {
	animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards x-line-1;
	stroke-dasharray: 0, 75px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#x-group #x-line-2 {
	animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards x-line-2;
	stroke-dasharray: 0, 75px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#x-group #outline {
	animation: 0.38s ease-in outline;
	transform: rotate(0deg);
	transform-origin: center;
}

#x-group #white-circle {
	animation: 0.35s ease-in 0.35s forwards circle;
	transform: none;
	transform-origin: center;
}

@keyframes outline {
	from {
		stroke-dasharray: 0, 345.576px;
	}
	to {
		stroke-dasharray: 345.576px, 345.576px;
	}
}

@keyframes circle {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

@keyframes x-line-1 {
	from {
		stroke-dasharray: 0, 75px;
	}
	to {
		stroke-dasharray: 75px, 75px;
	}
}

@keyframes x-line-2 {
	from {
		stroke-dasharray: 0, 75px;
	}
	to {
		stroke-dasharray: 75px, 75px;
	}
}

@keyframes x-group {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.09);
	}
	to {
		transform: scale(1);
	}
}

#nprogress .bar {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	background: #209ce9 !important;
	height: 3px;
}

#nprogress .peg {
	box-shadow: 0 0 10px #209ce9, 0 0 5px #209ce9 !important;
}

#nprogress .spinner-icon {
	border-top-color: #209ce9 !important;
	border-left-color: #209ce9 !important;
}

#nprogress .spinner {
	display: none !important;
}

.prose h1,
.prose h1 a {
	@apply text-3xl font-bold;
}
.prose h2,
.prose h2 a {
	@apply text-2xl font-semibold;
}
.prose h3,
.prose h3 a {
	@apply text-xl font-semibold;
}
.prose h4,
.prose h4 a {
	@apply text-lg font-semibold;
}
