@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-slate-50;
}

.Button.MuiButton-contained {
	@apply bg-nano hover:bg-nano/90 text-white;
}

.Button:disabled {
	@apply bg-slate-200 text-slate-400;
}

.PayButton {
	@apply text-xs leading-5;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spinBack {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
}

@keyframes spinBack {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-720deg);
		transform: rotate(-720deg);
	}
}

/* Check SVG */
#check-group {
	animation: 0.32s ease-in-out 1.03s check-group;
	transform-origin: center;
}

#check-group #check {
	animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
	stroke-dasharray: 0, 75px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#check-group #outline {
	animation: 0.38s ease-in outline;
	transform: rotate(0deg);
	transform-origin: center;
}

#check-group #white-circle {
	animation: 0.35s ease-in 0.35s forwards circle;
	transform: none;
	transform-origin: center;
}

@keyframes outline {
	from {
		stroke-dasharray: 0, 345.576px;
	}
	to {
		stroke-dasharray: 345.576px, 345.576px;
	}
}
@keyframes circle {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
@keyframes check {
	from {
		stroke-dasharray: 0, 75px;
	}
	to {
		stroke-dasharray: 75px, 75px;
	}
}
@keyframes check-group {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.09);
	}
	to {
		transform: scale(1);
	}
}

/* X SVG */
#x-group {
	animation: 0.32s ease-in-out 1.03s x-group;
	transform-origin: center;
}

#x-group #x-line-1 {
	animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards x-line-1;
	stroke-dasharray: 0, 75px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#x-group #x-line-2 {
	animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards x-line-2;
	stroke-dasharray: 0, 75px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#x-group #outline {
	animation: 0.38s ease-in outline;
	transform: rotate(0deg);
	transform-origin: center;
}

#x-group #white-circle {
	animation: 0.35s ease-in 0.35s forwards circle;
	transform: none;
	transform-origin: center;
}

@keyframes outline {
	from {
		stroke-dasharray: 0, 345.576px;
	}
	to {
		stroke-dasharray: 345.576px, 345.576px;
	}
}

@keyframes circle {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

@keyframes x-line-1 {
	from {
		stroke-dasharray: 0, 75px;
	}
	to {
		stroke-dasharray: 75px, 75px;
	}
}

@keyframes x-line-2 {
	from {
		stroke-dasharray: 0, 75px;
	}
	to {
		stroke-dasharray: 75px, 75px;
	}
}

@keyframes x-group {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.09);
	}
	to {
		transform: scale(1);
	}
}

#nprogress .bar {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	background: #209ce9 !important;
	height: 3px;
}

#nprogress .peg {
	box-shadow: 0 0 10px #209ce9, 0 0 5px #209ce9 !important;
}

#nprogress .spinner-icon {
	border-top-color: #209ce9 !important;
	border-left-color: #209ce9 !important;
}

#nprogress .spinner {
	display: none !important;
}
